<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CardPost - Color Guide</title>

    <!-- Bootstrap core CSS -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Main Navbar -->
    <nav class="main-navbar unibar unibar-lg bg-white bd-b">

      <!-- unibar container -->
      <div class="container unibar-container bg-inherit">

        <!-- header block -->
        <div class="unibar-block header-block bg-primary hide-border">
        
          <!-- brand cell -->
          <div class="unibar-cell menucon-cell">
            <a href="#" class="menucon morphs" data-ctoggle="unhide" data-target="#fullmenu"><span></span></a>
          </div>
          <!-- /brand cell -->

          <!-- brand cell -->
          <div class="unibar-cell brand-cell">
            <a href="index.html" class="unibar-brand fw-bold">CardPost</a>
          </div>
          <!-- /brand cell -->
          
          <!-- brand cell -->
          <div class="unibar-cell search-toggle-cell">
            <div class="ie-fix">
              <a class="search-toggle" href="#" data-ctoggle="unhide-search" data-target=".main-navbar"><i class="fa-search hidden-toggled"></i><i class="fa-close visible-toggled"></i></a>
            </div>
          </div>
          <!-- /brand cell -->

        </div>
        <!-- /header block -->
        
        <!-- nav block -->
        <div class="unibar-block nav-block bg-inherit">
        
          <!-- nav cell -->
          <div class="unibar-cell nav-cell cell-max">
          
            <!-- unibar search -->
            <form class="unibar-search">
              <div class="search-box">
                <input class="text-box" type="text" placeholder="Search anything...">
                <button type="button" class="btn btn-primary case-u"><i class="fa-search mgr-5"></i>search</button>
              </div>
            </form>
            <!-- /unibar search -->
            
            <!-- mobile quick links -->
            <div class="visible-sm visible-xs">
            
              <!-- uninav -->
              <ul class="uninav unibar-uninav uninav-fga-primary uninav-fillh auto-invert case-u fw-bold text-center">
                <li class="active"><a href="index.html">home</a></li>
                <li><a href="#">latest</a></li>
                <li><a href="#" data-ctoggle="unhide" data-target="#menu-col1">more<i class="fs-80 ti-plus dd-icon toggled-rotz-135"></i></a>
              </ul>
              <!-- /uninav -->
            
            </div>
            <!-- /mobile quick links -->
            
            <!-- collapsible menu -->
            <div id="menu-col1" class="unibar-collapse-sm">
            
              <!-- uninav -->
              <ul class="uninav unibar-uninav uninav-fga-primary uninav-fillh auto-invert case-u fw-bold">
                <li><a href="index.html">home</a></li>
                <li><a href="index-2.html">home II</a></li>
                <li class="dropdown active"><a href="#" data-toggle="dropdown">pages<i class="fs-80 ti-plus dd-icon open-rotz-135"></i></a>
                  <ul class="dropdown-menu dropdown-right case-c">
                    <li><a href="index.html">Home Version 1</a></li>
                    <li><a href="index-2.html">Home Version 2</a></li>
                    <li><a href="post.html">Post View</a></li>
                    <li><a href="search.html">Search Results</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Sign In page</a></li>
                    <li><a href="register.html">Sign Up page</a></li>
                    <li><a href="error.html">404 Page</a></li>
                    <li class="divider"></li>
                    <li class="active"><a href="colors.html">Color Guide</a></li>
                    <li><a href="features.html">Selected Features</a></li>
                  </ul>
                </li>
              </ul>
              <!-- /uninav -->
            
            </div>
            <!-- collapsible menu -->
            
          </div>
          <!-- /nav cell -->
          
          <!-- cell -->
          <div class="unibar-cell hidden-xs hidden-sm cell-min case-u">
            Sunday, July 3, 2016
          </div>
          <!-- /cell -->
          
        </div>
        <!-- /nav block -->

        <!-- mega menu -->
        <div id="fullmenu" class="mega-menu efx-slide-down">

          <!-- Cont -->
          <div class="menu-cont">
          
            <!-- Col -->
            <div class="cont-col nav-col bg-primary-d">
            
              <ul class="uninav uninav-v uninav-inverse uninav-lline uninav-bga-accent-xl uninav-fga-accent-xl uninav-default case-u uninav-ruled">
                <li><a href="#">home</a></li>
                <li><a href="#">videos</a></li>
                <li><a href="#">photos</a></li>
                <li><a href="#">trending</a></li>
                <li><a href="#">photos</a></li>
                <li><a href="#">music</a></li>
                <li><a href="#">technology</a></li>
                <li><a href="#">celebrities</a></li>
                <li><a href="#">fashion</a></li>
                <li><a href="#">television</a></li>
              </ul>
              
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="cont-col extras-col hidden-xs">
            
              <!-- extras block -->
              <div class="extras-block">
              
                <h5>top stories</h5>

                <!-- row -->
                <div class="row">

                  <!-- col -->
                  <div class="col-sm-3">

                    <div class="post-img mgb-10">
                      <a href="#" class="img-link"><img src="images/story2.jpg" alt="" /></a>
                    </div>
                    <h6 class="post-title case-c"><a href="#">Kanye Launches Personal Time Capsule Into Space As "Gift To Aliens"</a></h6>

                  </div>
                  <!-- /col -->
                  
                  <!-- col -->
                  <div class="col-sm-3">

                    <div class="post-img mgb-10">
                      <a href="#" class="img-link"><img src="images/story3.jpg" alt="" /></a>
                    </div>
                    <h6 class="post-title case-c"><a href="#">Beautiful woman has no incentive to be less annoying</a></h6>

                  </div>
                  <!-- /col -->
                  
                  <!-- col -->
                  <div class="col-sm-3">

                    <div class="post-img mgb-10">
                      <a href="#" class="img-link"><img src="images/story5.jpg" alt="" /></a>
                    </div>
                    <h6 class="post-title case-c"><a href="#">This Melbourne Cafe Is Now Selling Deconstructed Irony</a></h6>

                  </div>
                  <!-- /col -->
                  
                  <!-- col -->
                  <div class="col-sm-3">

                    <div class="post-img mgb-10">
                      <a href="#" class="img-link"><img src="images/story10.jpg" alt="" /></a>
                    </div>
                    <h6 class="post-title case-c"><a href="#">Whoops! Reality TV Contestant Goes To Air Without A Backstory</a></h6>

                  </div>
                  <!-- /col -->

                </div>
                <!-- /row -->

              </div>
              <!-- /extras block -->
            
              <!-- extras block -->
              <div class="extras-block">
              
                <h5>popular tags</h5>
                
                <ul class="unitags">
                  <li><a href="#">kardashians (634)</a></li>
                  <li><a href="#">trump (220)</a></li>
                  <li><a href="#">bieber (180)</a></li>
                  <li><a href="#">kanye west (98)</a></li>
                  <li><a href="#">kylie jenner (74)</a></li>
                  <li><a href="#">blac chyna (61)</a></li>
                  <li><a href="#">nba finals (59)</a></li>
                  <li><a href="#">Amber Heard (34)</a></li>
                </ul>
                
              </div>
              <!-- /extras block -->
            
            </div>
            <!-- /Col -->
          
          </div>
          <!-- /Cont -->
          
        </div>
        <!-- /mega menu -->

      </div>
      <!-- /unibar Cont -->
        
    </nav>
    <!-- /Main Navbar -->

    <!-- Content -->
    <section class="content bg-black-3">
    
      <!-- Container -->
      <div class="container">

        <!-- Row -->
        <div class="row">
        
          <!-- Main Col -->
          <div class="col-md-8 main-col">

            <!-- unicard -->
            <div class="unicard unicard-framed pad-30 mgb-30 page-title">
              <h3 class="fw-bold case-u unicard-title">theme <span class="fg-primary">colors</span></h3>
              <ol class="breadcrumb case-c">
                <li><a href="#">home</a></li>
                <li><a href="#">pages</a></li>
                <li>features</li>
              </ol>
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed pad-30 mgb-30">
            
              <h4 class="fw-bold">Material Design Colors</h4>
              <p>Color in material design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights. Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</p>
              
              <!-- row -->
              <div class="row spaced gutter-10 fg-white fs-80">
                  <div class="col-xs-2">
                    <div class="pad-10 bg-red">red</div>
                  </div>
                  
                  <div class="col-xs-2">
                    <div class="pad-10 bg-pink">pink</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-purple">purple</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-deep-purple">deep-purple</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-indigo">indigo</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-blue">blue</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-light-blue">light-blue</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-cyan">cyan</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-teal">teal</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-green">green</div>
                  </div>
                  
                  <div class="col-xs-2">
                    <div class="pad-10 bg-light-green">light-green</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-lime">lime</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-yellow">yellow</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-amber">amber</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-orange">orange</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-deep-orange">deep-orange</div>
                  </div>
                  <div class="col-xs-2">
                  <div class="pad-10 bg-brown">brown</div>
                  </div>
                  <div class="col-xs-2">
                    <div class="pad-10 bg-grey">grey</div>
                  </div>
                  <div class="col-xs-2">
                  <div class="pad-10 bg-blue-grey">blue-grey</div>
                  </div>

              </div>
              <!-- row -->
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed pad-30 mgb-30">

              <h4 class="fw-bold">Background Colors</h4>
              <p>Use the <code>.bg-</code> class prefix to paint any element with a Material Design color. You may also use the <code>.bg-after</code> and <code>.bg-before</code> prefix for pseudo elements. Examples:</p>

              <div class="row gutter-10 mgb-20 spaced">
                <div class="col-sm-3">
                  <div class="pad-10 bg-red fg-white">.bg-red</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-green fg-white">.bg-green</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-blue fg-white">.bg-blue</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-purple-700 fg-white">.bg-purple-700</div>
                </div>

              </div>
              
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed pad-30 mgb-30">
              
              <h4 class="fw-bold">Foreground Colors</h4>
              <p>Likewise Use the <code>.fg-</code> class prefix to color any text with a Material Design color. You may also use the <code>.fg-after</code> and <code>.fg-before</code> prefix for pseudo elements. Examples:</p>

              <div class="row gutter-10 mgb-10 spaced">
                <div class="col-sm-3">
                  <div class="pad-10 bg-grey-100 fg-red">.fg-red</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-grey-100 fg-green">.fg-green</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-grey-100 fg-blue">.fg-blue</div>
                </div>
                <div class="col-sm-3">
                  <div class="pad-10 bg-grey-100 fg-purple">.fg-purple</div>
                </div>
              </div>
              
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed pad-30 mgb-30">
            
              <h4 class="fw-bold">Border Colors</h4>
              <p>Use the <code>.bdc-</code> class prefix to paint the border of any element with a Material Design color. You may also use the <code>.bdc-after</code> and <code>.bdc-before</code> prefix for pseudo elements</p>
                
              <div class="row gutter-10 mgb-20 spaced">
                <div class="col-sm-4">
                  <div style="border-width:5px; border-style:solid" class="pad-10 bdc-red fg-red">.bdc-red</div>
                </div>
                <div class="col-sm-4">
                  <div style="border-width:5px; border-style:solid" class="pad-10 bdc-green fg-green">.bdc-green</div>
                </div>
                <div class="col-sm-4">
                  <div style="border-width:5px; border-style:solid" class="pad-10 bdc-blue-600 fg-blue-600">.bdc-blue-600</div>
                </div>
              </div>
                
              <blockquote class="quote-article bdc-purple">A blockquote with <code>.bdc-purple</code> class applied</blockquote>

            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed mgb-30 pad-30">
            
              <h4 class="fw-bold">Button Colors</h4>
              <p>Use a combination of the <code>.btn-</code> class prefix with a Material Design color to create colored buttons. For example:</p>

              <div class="row gutter-10 mgb-20 spaced">
                <div class="col-sm-4">
                  <a href="#" role="button" class="btn btn-block btn-orange btn-pad-xl">btn-orange</a>
                </div>
                <div class="col-sm-4">
                  <a href="#" role="button" class="btn btn-block btn-cyan btn-pad-xl">btn-cyan</a>
                </div>
                <div class="col-sm-4">
                  <a href="#" role="button" class="btn btn-block btn-outline btn-teal-600 btn-pad-xl">btn-teal-600</a>
                </div>
              </div>
              
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed mgb-30 pad-30">
              
              <h4 class="fw-bold">Navigation Colors</h4>
              <p>Use the <code>.uninav-</code> navigation class prefix with a Material Design color to give your navigation a color theme</p>

              <div class="row gutter-10 mgb-20 spaced">
              
                <div class="col-sm-4">
                  <!-- uninav -->
                  <ul class="uninav uninav-pills uninav-bga-pink case-c uninav-v uninav-inverse bg-indigo">
                    <li><a href="#"><i class="fa-home mgr-10"></i>home</a></li>
                    <li><a href="#"><i class="fa-user mgr-10"></i>profile</a></li>
                    <li class="active"><a href="#"><i class="fa-cog mgr-10"></i>settings</a></li>
                    <li><a href="#"><i class="fa-lock mgr-10"></i>log out</a></li>
                  </ul>
                  <!-- /uninav -->
                </div>
                <div class="col-sm-4">
                  <!-- uninav -->
                  <ul class="uninav uninav-pills uninav-bga-cyan uninav-fga-white uninav-fg-cyan-700 case-c uninav-v bg-black-3">
                    <li><a href="#"><i class="fa-home mgr-10"></i>home</a></li>
                    <li class="active"><a href="#"><i class="fa-user mgr-10"></i>profile</a></li>
                    <li><a href="#"><i class="fa-cog mgr-10"></i>settings</a></li>
                    <li><a href="#"><i class="fa-lock mgr-10"></i>log out</a></li>
                  </ul>
                  <!-- /uninav -->
                </div>
                <div class="col-sm-4">
                  <!-- uninav -->
                  <ul class="uninav uninav-lline uninav-default uninav-bga-yellow uninav-fga-yellow case-c uninav-v uninav-inverse bg-teal-600">
                    <li><a href="#"><i class="fa-home mgr-10"></i>home</a></li>
                    <li class="active"><a href="#"><i class="fa-user mgr-10"></i>profile</a></li>
                    <li><a href="#"><i class="fa-cog mgr-10"></i>settings</a></li>
                    <li><a href="#"><i class="fa-lock mgr-10"></i>log out</a></li>
                  </ul>
                  <!-- /uninav -->
                </div>                  
              </div>                
            </div>
            <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed mgb-30 pad-30">
              <h4 class="fw-bold">Gradients</h4>
              <p>Use either the <code>.grad-</code> class to access a number of premade gradients. Use <code>.grad-tr-</code> to switch the gradient direction to the right.</p>
              <div class="row gutter-10 mgb-20 spaced">
                <div class="col-sm-4">
                  <div class="pad-20 grad-purple-indigo fg-white">.grad-purple-indigo</div>
                </div>
                <div class="col-sm-4">
                  <div class="pad-20 grad-tr-blue-cyan fg-white">.grad-tr-blue-cyan</div>
                </div>
                <div class="col-sm-4">
                  <div class="pad-20 grad-tr-red-pink fg-white">.grad-tr-red-pink</div>
                </div>                  
              </div>
              <p>To create your own gradient, simply append your values to the <code>$md-grads</code> variable and the relevant classes will be auto generated.</p>
              <pre><code>
    <b>$grads</b>:(
      <b>red-pink</b>: ( 
        stops:(red, pink),
        fallback: mix(red, pink)
      ),
      <b>purple-cyan</b>: ( 
        stops:(purple, cyan),
        fallback: mix(purple, cyan)
      ),
      <b>rainbow</b>:(
        stops:(red, orange, yellow, green, blue, violet),
        fallback: mix(red, orange, yellow, green, blue, violet)
      )
    );
                </code></pre>
                
              </div>
              <!-- /unicard -->
            
            <!-- unicard -->
            <div class="unicard unicard-framed mgb-30 pad-30">
              <h4 class="fw-bold">Disabling  Specific Colors</h4>
              <p>The Material Design color classes are generated by a Sass mixin that reads from map variable called <code>$md-colors</code>. To disable a certain color, simply locate the color in the map and set the <code>active:true</code> entry to <code>active:false</code>.</p>
              <pre><code>
  $md-colors: (
    "red": (
      active: false,
      500: #f44336,
     ),
     "pink": (
      active: true,
      500: #e91e63,
     )
   );
                </code></pre>
          
              </div>
              <!-- /unicard -->

          </div>
          <!-- /Main Col -->
          
          <!-- Side Col -->
          <div class="col-md-4 side-col">

            <!-- unicard -->
            <div class="unicard unicard-framed pad-20">

              <ul class="uninav uninav-v uninav-fga-primary uninav-ruled">
                <li><a href="post.html">Post View</a></li>
                <li><a href="search.html">Search Results</a></li>
                <li><a href="login.html">Sign In page</a></li>
                <li><a href="register.html">Sign Up page</a></li>
                <li><a href="error.html">404 Page</a></li>
                <li class="active"><a href="colors.html">Color Guide</a></li>
                <li><a href="features.html">Selected Features</a></li>
              </ul>
            </div>
            <!--/unicard -->
            
          </div>
          <!-- /Side Col -->
        
        </div>
        <!-- /Row -->

      </div>
      <!-- /Container -->
    
    </section>
    <!-- /Content -->

    <!-- Mega Footer -->
    <footer class="bd-t mega-footer">
    
      <!-- Container -->
      <div class="container">

        <!-- Row -->
        <div class="row row-table-md row-main">
        
          <!-- Col -->
          <div class="col-md-3 v-top brand-col border-b-xs">
            <div class="inner fg-text auot-invert">
   
              <a href="index.html"><h1 class="fg-text-d fs-300 font-brand">CardPost</h1></a>
              <p class="no-mgb">Presenting a mutli purpose blog theme built with bootstrap and styled with material design colors and components.</p>
              <ul class="uninav uninav-icons color-icons-bg-hovered color-icons">
                <li><a href="#"><i class="fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-rss"></i></a></li>
              </ul>
              <span>&copy; 2016 - CardPost Mag.</span>
              
            </div>
          </div>
          <!-- /Col -->
          
          <!-- Col -->
          <div class="col-md-2 v-top border-b-xs">
            <h5 class="fg-text-d case-u auto-invert">about us</h5>
            <ul class="uninav uninav-v case-c uninav-default auto-invert">
              <li><a href="#">magazine bio</a></li>
              <li><a href="#">login</a></li>
              <li><a href="#">subscribe</a></li>
              <li><a href="#">contact us</a></li>
            </ul>
          </div>
          <!-- /Col -->
          
          <!-- Col -->
          <div class="col-md-2 v-top border-b-xs">
            <h5 class="fg-text-d case-u auto-invert">hot topics</h5>
            <ul class="uninav uninav-v case-c uninav-default auto-invert">
              <li><a href="#"><span>donald trump</span></a></li>
              <li><a href="#"><span>nba finals</span></a></li>
              <li><a href="#"><span>the kardashians</span></a></li>
              <li><a href="#"><span>kylie jenner</span></a></li>
              <li><a href="#"><span>stephen curry</span></a></li>
            </ul>
          </div>
          <!-- /Col -->
        
          <!-- Col -->
          <div class="col-md-2 v-top">
            <h5 class="fg-text-d case-u auto-invert">information</h5>
            <ul class="uninav uninav-v case-c auto-invert uninav-default">
              <li><a href="#"><span>terms of use</span></a></li>
              <li><a href="#"><span>advertising</span></a></li>
              <li><a href="#"><span>take downs</span></a></li>
              <li><a href="#"><span>complaints</span></a></li>
            </ul>
          </div>
          <!-- /Col -->
          
          <!-- Col -->
          <div class="col-md-3">
          
            <!-- subscribe box -->
            <div class="subscribe-box">
            
              <!-- img -->
              <div class="unicard-img">
                <img src="images/story16.jpg" alt="" >
                <div class="img-cover pad-20 img-layer bg-black-50pc">
                  <div class="valigner">
                    <div class="v-mid">
                      <small class="unicaption-subtitle case-u">Get the latest</small>
                      <span class="unication-title case-c font-title fs-200 font-brand fw-bold">newsletter</span>
                      <small class="unicaption-subtitle case-u">right in your inbox</small>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /img -->
            
              <form>
                <input type="text" class="form-control text-box" placeholder="Your Email Address">
                <button class="btn btn-primary btn-block">Subscribe Now!</button>
              </form>
            
            </div>
            <!-- /subscribe box -->

          </div>
          <!-- / Col -->
          
        </div>
        <!-- /Row -->

      </div>
      <!-- /Container -->
    
    </footer>
    <!-- /Mega Footer --> 
    
    <!-- Mini Footer -->
    <footer class="mini-footer bd-t">
    
      <!-- Container -->
      <div class="container">

        <!-- uninav -->
        <ul class="uninav auto-invert case-c uninav-sm text-center uninav-uline">
          <li class="hidden-xs"><a href="#"><b class="fg-primary">TRENDING:</b></a></li>
          <li><a href="#">#orlando shooting</a></li>
          <li><a href="#">#donald trump</a></li>
          <li><a href="#">#taylor swift</a></li>
          <li><a href="#">#playstation 6</a></li>
          <li><a href="#">#stephen curry</a></li>
        </ul>
        <!-- /uninav -->

      </div>
      <!-- /Container -->
    
    </footer>
    <!-- /Mini Footer -->

    <!-- Scripts -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/bootstrap/js/bootstrap.min.js"></script>
    <script src="uikit/js/masonry.pkgd.min.js"></script>
    <script src="uikit/js/uikit.js"></script>
    <script src="uikit/js/style-switcher.js"></script>
    <!-- /Scripts -->
    
  </body>
  
</html>